/*S2 E9 
Responsive Web Design Academy
Chris Dixon

Media Queries & Breakpoints
*/
body {
			width: 100%;
			margin: 0 auto;
		}

		.box {
			width: 100%;
			margin: 1% 0;
			padding: 10% 0;
			background-color: red;
		}